<!-- ========== Horizontal Menu Start ========== -->
<div class="topnav">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg">
			<div class="collapse navbar-collapse" id="topnav-menu-content">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="/" id="topnav-dashboards" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="ri-dashboard-3-line"></i>Dashboards
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-apps" role="button"
						   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ri-pages-line"></i>Pages <div class="arrow-down"></div>
						</a>
						<div class="dropdown-menu" aria-labelledby="topnav-apps">
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-auth"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Authenitication <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-auth">
									<a href="/auth-login" class="dropdown-item">Login</a>
									<a href="/auth-register" class="dropdown-item">Register</a>
									<a href="/auth-logout" class="dropdown-item">Logout</a>
									<a href="/auth-forgot-password" class="dropdown-item">Forgot Password</a>
									<a href="/auth-lock-screen" class="dropdown-item">Lock Screen</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-error"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Error <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-error">
									<a href="/error-404" class="dropdown-item">Error 404</a>
									<a href="/error-404-alt" class="dropdown-item">Error 404-alt</a>
									<a href="/error-500" class="dropdown-item">Error 500</a>
								</div>
							</div>
							<a href="/pages-starter" class="dropdown-item">Starter Page</a>
							<a href="/pages-contact-list" class="dropdown-item">Contact List</a>
							<a href="/pages-profile" class="dropdown-item">Profile</a>
							<a href="/pages-timeline" class="dropdown-item">Timeline</a>
							<a href="/pages-invoice" class="dropdown-item">Invoice</a>
							<a href="/pages-faq" class="dropdown-item">FAQ</a>
							<a href="/pages-pricing" class="dropdown-item">Pricing</a>
							<a href="/pages-maintenance" class="dropdown-item">Maintenance</a>
							<div class="dropdown-header">Building Plans</div>
							<a href="/buildingplans/list" class="dropdown-item">Applications List</a>
							<a href="/buildingplan/submit" class="dropdown-item">Submit Application</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-components" role="button"
						   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ri-briefcase-line"></i>Components <div class="arrow-down"></div>
						</a>
						<div class="dropdown-menu" aria-labelledby="topnav-components">
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-ui-kit"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Base UI 1 <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-ui-kit">
									<a href="/ui-accordions" class="dropdown-item">Accordions</a>
									<a href="/ui-alerts" class="dropdown-item">Alerts</a>
									<a href="/ui-avatars" class="dropdown-item">Avatars</a>
									<a href="/ui-badges" class="dropdown-item">Badges</a>
									<a href="/ui-breadcrumb" class="dropdown-item">Breadcrumb</a>
									<a href="/ui-buttons" class="dropdown-item">Buttons</a>
									<a href="/ui-cards" class="dropdown-item">Cards</a>
									<a href="/ui-carousel" class="dropdown-item">Carousel</a>
									<a href="/ui-collapse" class="dropdown-item">Collapse</a>
									<a href="/ui-dropdowns" class="dropdown-item">Dropdowns</a>
									<a href="/ui-list-group" class="dropdown-item">List Group</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-ui-kit2"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Base UI 2 <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-ui-kit2">
									<a href="/ui-modals" class="dropdown-item">Modals</a>
									<a href="/ui-tabs" class="dropdown-item">Tabs</a>
									<a href="/ui-offcanvas" class="dropdown-item">Offcanvas</a>
									<a href="/ui-pagination" class="dropdown-item">Pagination</a>
									<a href="/ui-placeholders" class="dropdown-item">Placeholders</a>
									<a href="/ui-popovers" class="dropdown-item">Popovers</a>
									<a href="/ui-progress" class="dropdown-item">Progress</a>
									<a href="/ui-spinners" class="dropdown-item">Spinners</a>
									<a href="/ui-toasts" class="dropdown-item">Toasts</a>
									<a href="/ui-tooltips" class="dropdown-item">Tooltips</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-extended-ui"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Extended UI <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-extended-ui">
									<a href="/advanced-sweet-alert" class="dropdown-item">Sweet Alert</a>
									<a href="/advanced-swiper-slider" class="dropdown-item">Swiper Slider</a>
									<a href="/advanced-scrollbar" class="dropdown-item">Scrollbar</a>
									<a href="/advanced-toastify" class="dropdown-item">Toastify</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-forms"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Forms <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-forms">
									<a href="/forms-basic" class="dropdown-item">Basic Elements</a>
									<a href="/forms-checkbox-radio" class="dropdown-item">Checkbox & Radio</a>
									<a href="/forms-choices" class="dropdown-item">Choice Select</a>
									<a href="/forms-clipboard" class="dropdown-item">Clipboard</a>
									<a href="/forms-flatepicker" class="dropdown-item">Flatepicker</a>
									<a href="/forms-validation" class="dropdown-item">Validation</a>
									<a href="/forms-wizard" class="dropdown-item">Wizard</a>
									<a href="/forms-file-upload" class="dropdown-item">File Upload</a>
									<a href="/forms-editors" class="dropdown-item">Editors</a>
									<a href="/forms-input-mask" class="dropdown-item">Input Mask</a>
									<a href="/forms-range-slider" class="dropdown-item">Slider</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-charts"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Charts <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-charts">
									<a href="/charts-area" class="dropdown-item">Apex Charts</a>
							    <a href="/charts-chartjs" class="dropdown-item">ChartJS</a>						
						    	<a href="/charts-sparkline" class="dropdown-item">Sparkline</a>				
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-tables"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Tables <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-tables">
									<a href="/tables-basic" class="dropdown-item">Basic Tables</a>
									<a href="/tables-gridjs" class="dropdown-item">Grid Js</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-icons"
								   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Icons <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-icons">
									<a href="/icons-boxicons" class="dropdown-item">Boxicons</a>
									<a href="/icons-iconamoon" class="dropdown-item">IconaMoon Icons</a>
									<a href="/icons-remix" class="dropdown-item">Remix Icons</a>
									<a href="/icons-bootstrap" class="dropdown-item">Bootstrap Icons</a>
									<a href="/icons-mdi" class="dropdown-item">Material Design Icons</a>
								</div>
							</div>
							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-maps"
								   role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Maps <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-maps">
									<a href="/maps-vector" class="dropdown-item">Vector Maps</a>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="javascript:void(0);" id="topnav-layouts" role="button"
						   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ri-layout-line"></i>Layouts <div class="arrow-down"></div>
						</a>
						<div class="dropdown-menu" aria-labelledby="topnav-layouts">
							<a href="/layouts-horizontal" class="dropdown-item" target="_blank">Horizontal</a>
							<a href="/layouts-light-sidebar" class="dropdown-item" target="_blank">Light Sidebar</a>
							<a href="/layouts-small-sidebar" class="dropdown-item" target="_blank">Small Sidebar</a>
							<a href="/layouts-collapsed-sidebar" class="dropdown-item" target="_blank">Collapsed Sidebar</a>
							<a href="/layouts-unsticky-layout" class="dropdown-item" target="_blank">Unsticky Layout</a>
							<a href="/layouts-boxed" class="dropdown-item" target="_blank">Boxed Layout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!-- ========== Horizontal Menu End ========== -->