@using Microsoft.AspNetCore.Components.Authorization
@using MuniLK.Web.Pages
@using MuniLK.Web.Services
@using MuniLK.Web.Components.Shared
@using MuniLK.Web.Components.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <GlobalErrorBoundary>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.VerticalLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </GlobalErrorBoundary>
        </Found>
        <NotFound>
            <div class="container mt-5 text-center">
                <h4 class="text-danger">Page not found.</h4>
                <p>
                    <a class="btn btn-primary" href="/auth-login">Go to Login</a>
                </p>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

